<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_THIETBIConnectionString"
            connectionString="Data Source=DESKTOP-B1FCSS6\INSPIRON;Initial Catalog=QL_THIETBI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>