USE [QL_THIETBI]
GO
/****** Object:  Table [dbo].[LOAITB]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITB](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MATB] [int] IDENTITY(1,1) NOT NULL,
	[TENTB] [nvarchar](1000) NULL,
	[HINHANH] [nvarchar](150) NULL,
	[GIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](1000) NULL,
	[MALOAI] [int] NULL,
	[MANCC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SANPHAM]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SANPHAM]
AS
SELECT MATB,TENTB,GIA,SOLUONG,MOTA,TENLOAI,TENNCC,TINHTRANG
FROM THIETBI,LOAITB,NHACC
WHERE THIETBI.MALOAI=LOAITB.MALOAI AND NHACC.MANCC=THIETBI.MANCC
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABC] [nchar](10) NOT NULL,
	[NGAYLAPBC] [date] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDH]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDH](
	[MADH] [int] NOT NULL,
	[MATB] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [money] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETDH] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDN]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDN](
	[MADN] [int] NOT NULL,
	[MATB] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[GIANHAP] [money] NULL,
	[THANHTIEN] [money] NULL,
 CONSTRAINT [PK_CHITIETDN] PRIMARY KEY CLUSTERED 
(
	[MADN] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [int] IDENTITY(1,1) NOT NULL,
	[TENCS] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [money] NULL,
	[HINHTHUCTT] [nvarchar](50) NULL,
	[TINHTRANG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONNHAP]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONNHAP](
	[MADN] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[MANCC] [int] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [money] NULL,
	[MACS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[SDT] [nvarchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[SDT] [nvarchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANG]    Script Date: 6/1/2022 12:23:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANG](
	[TENTK] [nchar](36) NULL,
	[MATKHAU] [nchar](36) NULL,
	[MANV] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETDH] ([MADH], [MATB], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (1, 1, 3, 500000.0000, 1500000.0000)
INSERT [dbo].[CHITIETDH] ([MADH], [MATB], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (1, 2, 3, 500000.0000, 1500000.0000)
INSERT [dbo].[CHITIETDH] ([MADH], [MATB], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (2, 1, 3, 500000.0000, 1500000.0000)
GO
INSERT [dbo].[CHITIETDN] ([MADN], [MATB], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (1, 1, 3, 500000.0000, 1500000.0000)
INSERT [dbo].[CHITIETDN] ([MADN], [MATB], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (1, 2, 3, 500000.0000, 1500000.0000)
INSERT [dbo].[CHITIETDN] ([MADN], [MATB], [SOLUONG], [GIANHAP], [THANHTIEN]) VALUES (2, 1, 3, 500000.0000, 1500000.0000)
GO
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADH], [MAKH], [MANV], [NGAYLAP], [TONGTIEN], [HINHTHUCTT], [TINHTRANG]) VALUES (1, 1, 1, CAST(N'2021-02-22' AS Date), 12300000.0000, N'TRẢ GÓP', N'HOÀN THÀNH')
INSERT [dbo].[DONHANG] ([MADH], [MAKH], [MANV], [NGAYLAP], [TONGTIEN], [HINHTHUCTT], [TINHTRANG]) VALUES (2, 2, 1, CAST(N'2021-02-22' AS Date), 12300000.0000, N'ĐÃ THANH TOÁN', N'HOÀN THÀNH')
INSERT [dbo].[DONHANG] ([MADH], [MAKH], [MANV], [NGAYLAP], [TONGTIEN], [HINHTHUCTT], [TINHTRANG]) VALUES (3, 1, 2, CAST(N'2021-02-23' AS Date), 1200000.0000, N'ĐÃ THANH TOÁN', N'HOÀN THÀNH')
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[DONNHAP] ON 

INSERT [dbo].[DONNHAP] ([MADN], [MANV], [MANCC], [NGAYLAP], [TONGTIEN], [MACS]) VALUES (1, 1, 1, CAST(N'2020-09-23' AS Date), 3000000.0000, NULL)
INSERT [dbo].[DONNHAP] ([MADN], [MANV], [MANCC], [NGAYLAP], [TONGTIEN], [MACS]) VALUES (2, 1, 2, CAST(N'2020-09-23' AS Date), 400000.0000, NULL)
INSERT [dbo].[DONNHAP] ([MADN], [MANV], [MANCC], [NGAYLAP], [TONGTIEN], [MACS]) VALUES (3, 1, 1, CAST(N'2020-09-24' AS Date), 3000000.0000, NULL)
SET IDENTITY_INSERT [dbo].[DONNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (1, N'Nguyễn Nguyên Bảo', CAST(N'2001-02-22' AS Date), N'Nam', N'08329023', N'TPHCM')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (2, N'Nguyễn Thanh Loan', CAST(N'2001-02-22' AS Date), N'Nữ', N'083294533', N'Hà Nội')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (3, N'Nguyễn Thanh Bình', CAST(N'2001-02-22' AS Date), N'Nữ', N'083294533', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAITB] ON 

INSERT [dbo].[LOAITB] ([MALOAI], [TENLOAI]) VALUES (1, N'ÐIỆN THOẠI')
INSERT [dbo].[LOAITB] ([MALOAI], [TENLOAI]) VALUES (2, N'LAPTOP')
INSERT [dbo].[LOAITB] ([MALOAI], [TENLOAI]) VALUES (3, N'TIVI')
SET IDENTITY_INSERT [dbo].[LOAITB] OFF
GO
SET IDENTITY_INSERT [dbo].[NHACC] ON 

INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (1, N'SAMSUNG', N'090987293', N'TPHCM')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (2, N'ACER', N'0909879879', N'TPHCM')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (3, N'VINSMART', N'09067879', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[NHACC] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (1, N'Văn Hường', CAST(N'2001-01-16' AS Date), N'Nam', N'0999999999', N'Tây Ninh')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (2, N'Nguyên Khang', CAST(N'2000-04-22' AS Date), N'Nữ', N'0911911911', N'Bến Tre')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[THIETBI] ON 

INSERT [dbo].[THIETBI] ([MATB], [TENTB], [HINHANH], [GIA], [SOLUONG], [MOTA], [MALOAI], [MANCC]) VALUES (1, N'Samsung Galaxy A52', N'hinh1.jpg', 9990000.0000, 32, N'Chiếc điện thoại sở hữu màn hình Infinity-O đầy hiện đại, 
 4 máy ảnh mặt sau được sắp xếp gọn gàng bên trong mô-đun hình chữ nhật thân thuộc và
  các cạnh viền bo cong nhẹ nhàng, uyển chuyển quanh thân máy, tạo cảm giác dễ chịu khi cầm nắm sử dụng.', 1, 1)
INSERT [dbo].[THIETBI] ([MATB], [TENTB], [HINHANH], [GIA], [SOLUONG], [MOTA], [MALOAI], [MANCC]) VALUES (3, N'Vsmart Star 3', N'hinh3.jpg', 1990000.0000, 12, N'Chiếc điện thoại Vsmart Star 3 được trang bị bộ đôi camera kép ở mặt lưng bao gồm một 
 camera chính độ phân giải 8 MP và một camera góc siêu rộng 5 MP.', 1, 3)
SET IDENTITY_INSERT [dbo].[THIETBI] OFF
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BAOCAO] CHECK CONSTRAINT [FK_BAOCAO_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDH_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CHITIETDH_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDH_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETDH] CHECK CONSTRAINT [FK_CHITIETDH_THIETBI]
GO
ALTER TABLE [dbo].[CHITIETDN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDN_DONNHAP] FOREIGN KEY([MADN])
REFERENCES [dbo].[DONNHAP] ([MADN])
GO
ALTER TABLE [dbo].[CHITIETDN] CHECK CONSTRAINT [FK_CHITIETDN_DONNHAP]
GO
ALTER TABLE [dbo].[CHITIETDN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDN_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([MATB])
GO
ALTER TABLE [dbo].[CHITIETDN] CHECK CONSTRAINT [FK_CHITIETDN_THIETBI]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAP_COSO] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
GO
ALTER TABLE [dbo].[DONNHAP] CHECK CONSTRAINT [FK_DONNHAP_COSO]
GO
ALTER TABLE [dbo].[DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAP_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[DONNHAP] CHECK CONSTRAINT [FK_DONNHAP_NHACC]
GO
ALTER TABLE [dbo].[DONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONNHAP] CHECK CONSTRAINT [FK_DONNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOANG]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOANG] CHECK CONSTRAINT [FK_TAIKHOANG_NHANVIEN]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_LOAITB] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITB] ([MALOAI])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_LOAITB]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_NHACC]
GO
