@using TinHocNgoiSao.Models;
@model List<LOAITB>
<ul class="nav navbar-nav" style="font-size:18px; color:black ;font-family: 'Roboto', sans-serif;">
    @foreach (var cd in Model)
    {
        <li class="nav-item">
            @Html.ActionLink(@cd.TENLOAI, "HTSP", "TinHocNgoiSao", new { ml = @cd.MALOAI }, new { @class = "nav-link" })
        </li>
    }
</ul>