<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO_QLThietBi.Properties.Settings.QL_THIETBIConnectionString"
            connectionString="Data Source=DESKTOP-QDRGJQ8\SQLEXPRESS;Initial Catalog=QL_THIETBI;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DTO_QLThietBi.Properties.Settings.QL_THIETBIConnectionString1"
            connectionString="Data Source=DESKTOP-QDRGJQ8\SQLEXPRESS;Initial Catalog=QL_THIETBI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>